<img src="{{album.album_logo}}" width=200px height=200px alt="logo">
<h1>{{ablum.album_title}}</h1>
<h3>{{album.album_artist}}</h3>

{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="POST">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter}}" name="song" value="{{ song.id }}">
        <label for="song{{ forloop.counter} }">
            {{song.song_title}}
            {% if song.is_favorite %}
                <img src="https://maxcdn.icons8.com/Share/icon/Messaging//outlined_star1600.png" width=20px height=20px alt="logo">
            {% endif %}
        </label>
        <br>
    {% endfor %}
    <input type="submit" value="Favorite">
</form>