{% extends "music/base.html" %} {% block title %} Album Details {% endblock %} {%block body %}


<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="{{ album.album_logo }}" alt="logo" width="300" height="300">
            <div class="caption">
                <h3>{{ album.album_title }}</h3>
                <h3>{{album.album_artist}}</h3>
                <p>{{album.album_description}}</p>
            </div>
        </div>
    </div>
<div class="page-header">
<button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Large button <span class="caret"></span>
  </button>  &nbsp;
    <a href="#">Add new Song</a>
</div>
   
    {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
    {% endif %} {% for song in album.song_set.all %} {{song.song_title}}
    <br> {% endfor %} {% endblock body %}

</div>